@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

  :root{
    --violet: #7562E0;
    --dark: #625C7E;
  }

html{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #625C7E;
}

section{
    padding: 60px 0;
}

footer{
    padding: 60px 0;
}

a{
    text-decoration: none;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.nav__name{
    color: #7562E0;
    margin-left: 12rem;
    font: 3rem;
    font-weight: bold;
}

.nav__menu{
    margin-right: 9rem;
}

.nav__menu a{
    margin-left: 1rem;
}

.aboutinfo{
    display: flex;
    justify-content: space-around;
}

.name{
    margin-left: 6rem;
    font-size: 3rem;
    font-weight: bold;
    color: #000;
}

.skills{
    margin-left: 6.7rem;
}

button{
    width: 176px;
    height: 62px;
    padding: 20px  30px;
    border: 3px solid #625C7E;
    background: none;
    font: inherit;
    cursor: pointer;
}

.button{
    width: 175px;
    height: 60px;
    margin-top: 1rem;
    margin-left: 6.7rem;
    box-shadow: 0.5em 0.5em 0 0 var(--violet), inset 0.5em 0.5em 0 0 var(--violet);
    transition: all 0.5s ease-in-out;
    
}

.button:hover, .button:focus {
box-shadow: 0 0 0 0 var(--black), inset 6.7rem 0 0 0 var(--black);
}

.aboutinfo__picture{
    width: 40%;
    height: 100%;
    margin-left: 4rem;
    background-position: center;
    max-height: 600px;
    border: 10px solid white;
}

.myphoto{
    position: absolute;
    top: -50px;
    left: -100px;
    border: 10px solid #7562E0;
    border-radius: 50%;
    width: 326px;
    height: 326px;
    background-color: #7562E0;
}

.myimage{
    position: relative;
    border-radius: 50%;
    background-color: #7562E0;
    width: 500px;
    height: 70vh;
    left: 10%;
}

.whitefont{
    position: relative;
    right: -2px;
    bottom: -6px;
    border-radius: 50%;
    background-color: white;
    width: 325px;
    height: 325px;
}

.myphoto img{
    position: relative;
    left: 12px;
    top: 12px;
    bottom: -10px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.box-center{
    display: flex;
    justify-content: space-between;
    margin-top: 15rem;
    margin-bottom: 4rem;
    margin-left: 350px;
    margin-right: 350px;
    
}

.box-center img{
    width: 25%;
    height: 25%;
    margin-right: 8px;
    margin-bottom: 100px;
}

.yearsof{
    font-weight: bold;
    font-size: 5rem;
    color: #7562E0;
 }

.experience{
    display: flex;
    align-items: flex-start;
    margin-left: 15rem;
}

.workDone-left p{
    color: black;
    font-weight: bold;
 }

 .experience__right--up {
    display: flex;
    flex-wrap: wrap;
    color: #7562E0;
    font-size: 30px;
    margin-right: 190px;
    padding-left: 6rem;
    padding-bottom: 2rem;
 }

 .experience__right--down{
    margin-left: 6rem;
    display: flex;
    justify-content: space-between;
    margin-right: 190px;
 }

 .Card{
    width: 270px;
    height: 270px;
    padding-top: 12rem;
    padding-left: 2rem;
    border-radius: 10px;
    background: white;
    position: relative;
    transition: all .3s ease-in-out;
    border: 2px solid #f7f6f9;
    box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.18);
 }

 .Card:hover{
     background-color: #7562E0;
     color: white;
 }

h4{
    color: #7562E0;
    font-size: 20px;
}

.main__SecondSection{
    margin-top: 8rem;
    display: flex;
    flex-wrap: wrap;
}

.SecondSection__up--left{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.SecondSection__up--right{
    margin-left: 15rem;
    color: #7562E0;
    margin-right: 5rem;
    font-size: 20px;
    font-weight: bold;
}

.lorem{
    /*margin-right: 15rem;
    font-size: 14px;*/
}

.SecondSection__up--right h3{
    margin-bottom: 3rem;
}

.SecondSection__up--right a{
    font-size: 20px;
}

.main__SecondSection--down{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 15rem;
    margin-right: 11rem;
    padding-top: 4rem;
}

.Testimony{
    width: 355px;
    height: 390px;
    object-fit: cover;
    border: groove;

   /* height: 300px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.18);
    margin-bottom: 20px;
    width: 31%;
    margin-right: 10px;*/
}

.SecondSection--down img{
    display: flex;
    object-fit: cover;
}

.ThirdSection__up--left{
    display: flex;
    justify-content: space-between;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 5rem;
}

.ThirdSection__up--left img{
    border: groove;
    width: 100%;
    height: 30rem;
    margin-right: 30rem;
    object-fit: cover;
}

.ThirdSection__up--right h1{
    display: flex;
    flex-wrap: wrap;
    color: #7562E0;
    font-size: 35px;
    padding-right: 5rem;
    margin-left: 1rem;
    margin-top: 2rem;
    height: 5rem;
}

.ThirdSection__up--right p{
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
    padding-right: 6rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.ThirdSection__up--right img{
    height: 100%;
    width: 30%;
    margin-top: 3rem;
    margin-left: 10rem;
    margin-right: auto;
}

.main__ThirdSection--down{
    display: flex;
    justify-content: space-around;
    margin-left: 15rem;
    margin-right: 14rem; 
    margin-bottom: 6rem;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 23px -5px;
}

.Testimony{
    border: groove;
}

.Testimony img{
    border-radius: 300px;
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    margin-top: 2rem;
    margin-left: 25%;
}

.Testimony p{
    text-align: center;
    margin-bottom: 2rem;
    color: #7562E0;
    font-weight: bold;
}

.Testimony span{
    text-align: center;
    margin-left: 4rem;
}

.testimony-middle span{
    /*margin-right: 4rem;*/
}

.footer{
    display: flex;
    justify-content: space-around;
}

.footer-left{
    float: left;
    margin-top: 1rem;
    margin-left: 15rem;
}

h1, .right-text, .icons{
    margin-bottom: 1rem;
}

.icons{
    display: flex;
    justify-content: space-between;
    margin-right: 27rem;
}

.email{
    font-weight: bold;
    color: #7562E0;
}

.footer__left{
    margin-right: 15rem;
    margin-bottom: 10rem;
    margin-left: 10rem;
}

.left-text{
    margin-left: 44rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    flex-wrap: wrap;
    padding-right: 5rem;
    padding-left: 4rem;
}

.btn{
    width: 50%;
    height: 60px;
    margin-top: 1rem;
    padding: 20px 30px;
    border: 3px solid #7562E0;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    line-height: 1;
    box-shadow: 5px 5px 5px #7562E0;
}

.btn:hover{
    background-color: white;
    transition: all 1s ease-out;
    transform: translate(-50% -50%);
}

.input{
    width: 100%;
    height: 60px;
    margin-bottom: 2rem;
    border: solid;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-left: 1rem;
}   

.footer__files{
    display: flex;
    justify-content: space-between;
    background-color: beige;
}

.file-audio{
    margin-top: 10rem;
    margin-left: 15rem;
}

.audio-text{
    font-size: 20px;
    color: #625C7E;
    margin-bottom: 2rem;
}

.video-text{
    color: #625C7E;
    margin-left: 13rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 25px;
}

.Bottom__Footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 20px;
}

.btn:active{
	inset 0 0 4px rgb(0, 0, 0, 0.4);
}